<h2 class="page-title">Page of flowers' list</h2>
<div class="row justify-content-center">
  <div class="col-12">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Color</th>
              <th scope="col">Price</th>
              <th scope="col">Count</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let flower of flowers">
              <td>{{ flower.name }}</td>
              <td>{{ flower.color }}</td>
              <td>{{ flower.price | numberToPrice}}</td>
              <td>{{ flower.count }}</td>
              <td><a [routerLink]="['/flowers', flower.id]">details</a></td>
            </tr>
          </tbody>
        </table>
  </div>
</div>